{{#let "ServicesItem" as |scope|}}
  <div class={{scope}} ...attributes>
    <div class="{{scope}}-info">
      <p class="{{scope}}-title">{{@model.description}}</p>
      <p class="{{scope}}-description">{{@model.duration}} minutes</p>
    </div>

    {{yield}}
  </div>
{{/let}}