{{#let "Application" as |scope|}}
  <div class={{scope}}>
    <header class="{{scope}}-header">
      <h2>Request an appointment</h2>
    </header>

    <nav class="{{scope}}-nav">
      <Nav::List
        @items={{this.navItems}}
        @activeItem={{this.router.currentRouteName}}
      />
    </nav>

    <main class="{{scope}}-main">
      {{outlet}}
    </main>

  </div>
{{/let}}